ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ae9f9f;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

li a:hover {
  background-color: #b6bc7f;
}

#invoice-upload {
  background-color: #b6bc7f;
  color: black;
  font-size: larger;
  margin: 40px;
}